<h1>Matches By Keyword</h1>

<div class="movie-list">
  <% @movies.each do |movie| %>
    <ul>
      <li><%= link_to "#{movie.title}", movie_path(movie) %></a></li>
    </ul>
  <% end %>
</div>
<%= paginate @movies %>
