

<div class="well">
  <div class="page-header">
    <h1 class="welcome-header bretflix-blue"><strong>Welcome Admin!</strong></h1>
  </div><!-- end page-header -->

  <form class="search-form" action=admin/users>
    <input class="btn btn-lg btn-primary" type="submit" value="View Users" />
  </form>

  <form class="search-form" action=movies>
    <input class="btn btn-lg btn-primary" type="submit" value="View Movies" />
  </form>

  <form class="search-form" action=movies/checked_out>
    <input class="btn btn-lg btn-primary" type="submit" value="View Check Outs" />
  </form>

</div><!-- end well -->
