<h1 class="bretflix-blue users-list-title">List of Users</h1>
<hr>
<div class="container">
  <div class="movie-user-list">
    <% @users.each do |user| %>
      <div class="col-md-6">
        <ul class="users-list">
          <li><h2><%= link_to "#{user.full_name_reversed}", "users/#{user.id}"%></a></h2></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div>
  <%= link_to 'Back', admin_index_path %>
</div>
