<h1 class="bretflix-blue">List of Users</h1>

<div class="movie-user-list">
  <% @users.each do |user| %>
    <ul>
      <li><%= link_to "#{user.full_name_reversed}", "users/#{user.id}"%></a></li>
    </ul>
  <% end %>
</div>

<%= link_to 'Back', admin_index_path %>


