<h1 class="welcome-header">Welcome to BretFlix!</h1>

<form class="search-form" action=movies/search method="get">
  <input class="text-box" type="text" placeholder="Search title by keyword" name="movie[keyword]" required>
  <input class="search-button" type="submit" value="Search" />
</form>

<form class="search-form" action=movies>
  <input class="bret-button" type="submit" value="   View the Entire Collection   " />
</form>

<% if current_user && current_user.is_admin? %>
	<%= link_to "Admin Home", admin_index_path %>
<% end %>

<h2 class="bretflix-blue">Most Popular Titles</h2>
<div class="movie-list">
  <% @movies.each do |movie| %>
    <ul>
      <li><%= link_to "#{movie.title}", movie_path(movie) %></a></li>
    </ul>
  <% end %>
</div>



