<h1 id='welcome-header'>Welcome to BretFlix!</h1>

<%= form_for :movie, url: movies_search_url, method: :get do |f| %>
  <%= f.label '', class: 'form-label' %><br>
  <%= f.text_area :keyword, class: 'form-textarea', placeholder: 'Search by Keyword' %>
  <%= f.submit "Search", class: 'form-submit' %>
<% end %>


<!-- <form class="search-form" action=movies/search method="get">
  <input id="keyword" class="text-box" type="text" placeholder="Search title by keyword" name="keyword" required>
  <input id="keyword-search" class="search-button" type="button" value="Search">
</form>
 -->
<form class="search-form" action=movies>
  <input class="search-button" type="submit" value="   View the Entire Collection   " />
</form>



