<h1 id='welcome-header'>Welcome to BretFlix!</h1>


<form id="keyword-search" class="welcome-main">
  <input id="keyword" class="welcome-input" type="text" name="query" placeholder="Search title by keyword" required>
</form>

<form class="welcome-main" action=movies>
  <input class="view-button welcome-input" type="submit" value="View Our Entire Collection"/>
</form>



