<h1 id='welcome-header'>Welcome to BretFlix!</h1>

<form class="search-form">
  <input class="searchfield-input" type="text" placeholder="Search by keyword" required>
  <input class="search-button" type="button" value="Search">
</form>

<form class="search-form" action=movies>
  <input class="view-button" type="submit" value="View the Entire Collection" />
</form>



